<!DOCTYPE html>
<html>
<head>
    <title>Улучшение представлений результатов “Мой голос”</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common_style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div id="loading" style="display: none;">Loading...</div>
<div id="content">
    <header>
        <div class="header-box">
            <span id="header-team-name">ALT+F4 Team</span>
            <img id="header-ico" src="../static/src/ros_atom.png" alt="the icon of the caseholder"/>
        </div>
    </header>
    <main>
        <!-- Dropdown menu for selecting a question -->
        <article class="upload-form-box">
            <span class="page-name">Выберите вопрос</span>
            <form method="post" class="upload-form" action="/processing">
                <select id="operator" name="question">
                    <option value="Опишите одним словом ваше текущее состояние">Опишите одним словом ваше текущее состояние</option>
                    <option value="{{ questions[1] }}">Напишите свою ассоциацию со словом "бюрократ"</option>
                    <option value="Что позволяет вам лично поддерживать уверенность и рабочий настрой?">Что позволяет вам лично поддерживать уверенность и рабочий настрой?</option>
                    <option value="В чём причина стресса, по вашему мнению?">В чём причина стресса, по вашему мнению?</option>
                    <option value="Вопрос 5. В чем, по Вашему мнению, причина роста травматизма?">Вопрос 5. В чем, по Вашему мнению, причина роста травматизма?</option>
                </select>
                <input type="submit" value="Получить результаты">
            </form>
        </article>
    </main>
</div>
</body>
</html>
